@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>For questions and concerns please email the following people:</p>

<address>
    <strong>Metin Tuzmen: </strong><a href="mailto:metin.tuzmen@sap.com">metin.tuzmen@sap.com</a><br />
    <abbr title="Phone">P: </abbr>
    +1 (610) 661-3520
</address>